* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {

    max-width: 512px;
    /* force mobile rateo */

}

img,
.server-icon {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
    overflow: auto;
    display: relative;
    margin-top: 10px;
}

.wrapper {

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.central-wrapper {

    background-color: rgb(28, 29, 34);
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

/* sidebar */
.sidebar {

    width: 100px;
    background-color: hsl(252, 12%, 8%);
    flex-shrink: 0;
    display: flex;

}


.side-icon {

    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
    margin-left: 15px;

}


.rounded {

    border: solid 1px none;
    border-radius: 50%;
}

/* sidebar */







/* top and buttons */


.message-title {
    font-family:  Inter;
    color: white;
    margin-left: 25px;
    margin-top: 25px;
    font-weight: 600;
}

.search-add {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    color: white;
}

.search-add .bi-search {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: hsl(225, 10%, 24%);
    border-radius: 50%;
    flex-shrink: 0;
}

.add-friends {
    flex-grow: 1;
    height: 40px;
    padding: 0 16px;
    border-radius: 22px;
    background-color: hsl(225, 10%, 24%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
}

/* top and buttons */


/* contacts */
.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
}

.contact-row {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 20px;
}

.contact {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    flex-shrink: 0;
}

.contact-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family:  Inter;
}

.name {
    color: rgba(255, 255, 255, 0.434);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.message {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.time {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    flex-shrink: 0;
}

/* contacts */


/* footer */

.footer {
    display: flex;
    gap: 5.5rem;
    height: 80px;
    background-color: rgb(45, 45, 53);
    display: flex;
    padding-left: 30px;
}


.footer-icon {

    font-size: 2rem;
}



.footer-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:  Inter;
}

.footer-img {
    width: 25px;
    height: 25px;
    border: solid 1px none;
    border-radius: 50%;
}

/* footer end */