
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
} 


body {

    max-width: 512px; /* force mobile rateo */

}

main {
    flex-grow:1;
    overflow:auto;
    display: relative;
}

.wrapper {

    height: 100vh;
    display:flex;
    flex-direction: column;
}

.central-wrapper {

       background-color: rgb(28, 29, 34);
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.sidebar{

    width:60px;
    background-color: rgb(20, 19, 24);
    flex-shrink:0;
}
footer {

    height: 80px;
    background-color: rgb(45, 45, 53);
    flex-shrink: 0;
}


.message-title{

    color: white;
    margin-left: 25px;
    margin-top: 25px;
    font-weight: 600;
}

.search-add {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    color: white;
}

.search-add .bi-search{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: hsl(225, 10%, 24%);
    border-radius: 50%;
    flex-shrink: 0;
}

.add-friends {
    flex-grow: 1;
    height: 40px;
    padding: 0 16px;
    border-radius: 22px;
    background-color: hsl(225, 10%, 24%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 20px;
}



.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
}

.contact-row {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 20px;
}

.contact {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    flex-shrink: 0;
}

.contact-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.name {
    color: rgba(255, 255, 255, 0.434);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.message {
    color: rgba(255,255,255,0.4);
    font-size: 14px;
}

.time {
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    flex-shrink: 0;
}







